package main_view

import "github.com/Peter-Sanders/go_webserver/view/layout"

templ Fishing() {
	<section class="mx-auto w-fit flex flex-col gap-8 text-center">
		<p class="text-2xl font-thin">
			Insert Fishing content here
		</p>
	</section>
}

templ FishingIndex(
    title string,
    isError bool,
    cmp templ.Component,
    ) {
	@layout.Base(title, isError) {
		@cmp
	}
}
