package partial

templ Navbar() {
	<nav >
		<div class="topnav">
			<a hx-swap="transition:true" class="active" href="/">
				Home
			</a>
      <a href="">Fishing</a>
      <a href="">Coding</a>
      <a href="">Misc</a>
		</div>
		</nav>
}
