{{define "list"}}
    <div>
      <table class="styled-table">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Time</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td>{{.FName}}</td>
            <td>{{.LName}}</td>
            <td>{{.Phone}}</td>
            <td>{{.Email}}</td>
            <td>{{.Time}}</td>
            <td>{{.ID}}</td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <!-- <div> -->
    <!--   {{ $currentPage := .currentPage }} -->
    <!--   {{ $totalPages := .totalPages }} -->
    <!--   {{ if gt $totalPages 1 }} -->
    <!--     {{ range $page := .pages }} -->
    <!--       <a href="/list_users?page={{ $page }}" hx-get="#list_users_table" hx-swap="outerHTML">{{ $page }}</a> -->
    <!--     {{ end }} -->
    <!--   {{ end }} -->
    <!-- </div> -->
{{end}}
