package notready

import "github.com/Peter-Sanders/go_webserver/view/layout"

templ Temp(fromProtected bool) {
<h1>Come back later when i add something here</h1>
}

templ TempIndex(
    title,
    username string,
    fromProtected bool,
    isError bool,
	errMsgs, sucMsgs []string,
    cmp templ.Component,
    ) {
	@layout.Base(title, username, fromProtected, isError, errMsgs, sucMsgs) {
		@cmp
	}
}
